    .rodape {
        display: flex;
        flex-direction: column;
        padding: 7em;
        background-color: #d8c8b9;

    }

    .box1 {
        display: flex;
        flex-direction: row;
        margin-top: -4em;
        margin-left: 2em;

    }

    .box1 img {
        height: 250px;
        width: 230px;
        left: 90px;
        top: 3978px;
        border-radius: 0px;
    }

    .box-2 {
        padding: 5em;
        margin-left: 2em;
       
    }

    .box-2 h1 {
        color: #636363;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 10px;
        
    }

    .box-2 img {
        height: 30px;
        width: 30px;
        left: 825px;
        top: 4079px;
        border-radius: 0px;
    }

    .box-2 p {
        display: flex;
        flex-direction: row;
        margin: 3px;
        font-family: 'Poppins';
    }

    .linha {
        color: #000;
        margin-bottom: 1em;

    }

    .text {
        font-family: 'Poppins', sans-serif;
        margin-left: 1em;
        margin-top: 1em;
    }
    .text img{
       width: 20em;
    }