.Principal-Historico-Compras {

    .Components {
        display: flex;
        flex-direction: row;
    }

    .Primeira-Faixa {
        background-color: #D9D9D9;
        margin: 15px;
        height: 5vh;

    }

    .Primeiro-Historico {
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }

    .Nome {
        align-items: center;
        padding: 11px 5px 20px 30px;
        font-family: 'Poppins', sans-serif;
    }

    .Primeiro-Status {
        display: flex;
        flex-direction: row;
        margin: 15px;
        
    }
    
    .Status {
        background-color: #D8C8B9;
        height: 2.9em;
        font-family: 'Poppins', sans-serif;


    }

    .finalizado{
    }

    .Status p{
        padding: 11px 90px 20px 90px;

    }
}