.conteiner-1{
    .Fundo-Cadastro-Img {
        background-image: url('../../../assets/images/image\ 12.png');
        background-size: cover;
        height: 47em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }

      .box-br{
        background-color: rgba($color: #D9D9D9, $alpha: 0.7);
        width: 50em ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        height: 80vh;
      }

      .box-br button{
        text-decoration: none;
        border: none;
        margin-top: 1.5em;
        background-color: #ffffff;
        border-radius: 15px;
        padding: 13px 15px 13px 15px;
        cursor: pointer;
      }

      .box-br button:hover {
        box-shadow: 5px 5px 5px #b2b0b0c4;
        transform: scale(1.1);
      } 

      .box-ajustar{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 35em;
        height: 15em;
    
      }

      .box-br h2{
        font-size: 35px;
      }

      .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .coluna{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .caixa-grande{
        text-decoration: none;
        margin-bottom: 5px;
        height: 2.4em;
        border-radius: 18px;
        border: #b2b0b0c4 1px solid; 
      }

      .inpu{
        text-decoration: none;
        margin-bottom: 4px;       
        width: 19em;
        height: 2.4em;
        border-radius: 18px;
        border: #b2b0b0c4 1px solid; 
      }

      input{
        outline: none;
      }

      input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .but{
      height: 45px;
    }
}