
.Cabecalho-Produtos{

    .Principal{
        display: flex;
        flex-direction: row;
        background-color:#D8C8B9;
        align-items: center;
        font-size: 40px; 
        font-family: 'Poppins', sans-serif;

    }

    .logo{
        margin-left: 1em;
    }

    .Direcionamentos{
        display: flex;
        flex-direction: row;
        margin: 0.5em;
        padding-top: 20px;

    }

    .Direcionamentos p {
        margin-left: 2em;
        font-size: 28px;
    }

    .IconeUsuario{
        display: flex;
        flex-direction: row;
        margin-left: 3em;
    }

    .usuario img {
        width: 1.5em;
    }
   
}
