
.Cabecalho-Produtos{

    .Principal{
        display: flex;
        flex-direction: row;
        background-color:#D8C8B9;
        align-items: center;
        font-size: 40px;
    
    }

    .Direcionamentos{
        align-items: center;
        margin: 5vh 5vh 5vh 5vh 5vh;
        word-spacing: 20vh;

    }

    

    
}