
.Titulo-Principal{
    text-align:left;
    display: flex;
    flex-direction: column;
    margin: 50px;

}

.Titulo-Caixa-Texto{
    text-align: center;
    font-family: arial;
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.Caixa-Texto{
    border-radius:20px ;
    margin: 2px;
    display: flex;
    border-radius: 3px;
    flex-direction: column;
   background-color: #D9D9D9;
}

.Titulo-Caixa-Texto-Linha{
    font-family: arial;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.Caixa-Texto-Linha{
    text-align: left;
    border-radius:20px ;
    margin: 5px;
    display: flex;
    border-radius: 1px;
    flex-direction: column;
   
   background-color: #D9D9D9;
}
 