
.Faixa-Principal{
    background-color:#D8C8B9;
    height: 80px;
    width: auto;
    display: flex;
   flex-direction: row;
   justify-content: space-between;

}


.Dados-Usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
}
