.texts {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10em;
}

.texts p { 
    font-size: 1.5em;
    margin:1em;
    
   
}

.icones {
    display: flex;
    width:50px;
    height:42px;
    top: 34px;
    left: 1261px;
    margin-left: 10em;
}