
.Segundo-Principal{


    .Segunda-Faixa{
        display: flex;
        flex-direction: row;
        background-color:#EDE6E0;
        height:  8vh;
        width: 220vh;
        font-size: 30px;
    }

    .Paginas{
      
        align-items:round($number: 0);
        margin: 5vh 5vh 5vh 2vh ;
        word-spacing: 20vh;
    }

    .Imagem{
        background-image: url('../../../assets/images/image\ 41.png');
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        height: 400vh;
        width:500vh;
    }

}