
.Segundo-Principal{


    .Segunda-Faixa{
        display: flex;
        flex-direction: row;
        background-color:#ecd9c9;
        height:  8vh;
        width: 220vh;
        font-size: 30px;
    }

    .Paginas{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 3em;
        
    }

    .Paginas p{
        margin-left: 3em;
    }



}