

.principal{
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 751.5px;
    background-color: #D8C8B9;
}

.texto{
    padding: 1.5em;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15em;
}

.texto img{
    
    width: 35px;

}

.tex{
    display: flex;
    flex-direction: row;
    justify-content:flex-start ;
    align-items: center;
}
 
.texto p {
    cursor: pointer;
    margin-left: 5px;
}

.tex:hover {
    background-color: #beb1a5;
    border-radius: 1em;
    padding: 10px 20px 20px 10px;
}