

.principal{
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 70em;
    background-color: #D8C8B9;
}

.text{
    padding: 1.5em;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text img{
    width: 30px;
    margin-top: 2px;
}
 
.text p {
    cursor: pointer;
}

.text p:hover {
    background-color: #beb1a5;
    border-radius: 1em;
    padding: 10px 20px 20px 15px;
}