.cadastrarCartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    font-family: 'Poppins', sans-serif;

    .titulo{
        margin-bottom: 1em;
    }
    
    .ajustes-1{
        display: flex;
        flex-direction: column;
        margin-top: 3em;
    }

    .quadrado-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgb(164, 164, 164);
        width: 750px;
        height: 450px;
        box-shadow: 5px 6px 15px rgba(50, 50, 50, 0.77);
    }

    .ajustes-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 33.3em;
        margin-top: 3em;
        
    }

    .ajuste-3{
        display: flex;
        flex-direction: row;
    }

    .bloco-2{
        display: flex;
        flex-direction: column;
        
        .img{
            height: 40px;
        }
    }

    .caixa-text3{
        height: 40px;
        width: 130px;
        margin-top: 23px;
        border: none;
        background-color: #D9D9D9;
    }

    .caixa-text1{
        width: 40em;
        height:40px;
        border: none;
        background-color: #D9D9D9;

    }

    .caixa-text2{
        height: 40px;
        width: 130px;
        border: none;
        background-color: #D9D9D9;
    }

    .botao{
        border: none;
        border-radius: 2em;
        margin-top: 4em;
        padding: 10px 20px 10px 20px;
        background-color: #D8C8B9;
    }
}