.Principal-Pagamento{

  .BLOCO{
    background-image:url('../../../assets/images/Rectangle\ 207.png');
    box-sizing: border-box;
        position: absolute;
        width: 70vh;
        height: 70vh;
        left: 42px;
        top: 217px;
        background: #FFFFFF;
        border: 1px solid #000000;
  }

  .BLOCO2{

    background-image:url('../../../assets/images/Rectangle\ 207.png');
    box-sizing: border-box;
        position: absolute;
        width: 60vh;
        height: 10vh;
        top: 217px;
        margin: -15vh 0vh  0vh  0vh;
        margin-right: 20em;
        background: #FFFFFF;
        border: 1px solid #000000;

  }

  .BLOCO3{
box-sizing: border-box;
position: absolute;
width: 748px;
height: 435px;
left: 621px;
top: 324px;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.24);
filter: blur(2px);
margin: -40vh  30vh;
  }

  .BLOCO3-1{
  margin: 3vh;
 box-sizing: border-box;
position: absolute;
width: 693px;
height: 81px;
background: #F6F6F6;
border: 1px solid #000000;

  }

  .BLOCO3-2{
    box-sizing: border-box;
    margin: -40vh;
    position: absolute;
    width: 693px;
    height: 81px;
    left: 20em;
    top: 442px;
    background: #F6F6F6;
    border: 1px solid #000000;
  }

 
 
  
   
  
  
}