.Principal-Estoque{


    .Primeiro-Botao{
      display: flex;
      flex-direction: row-reverse;


    }

    .Primeiro-Botao {
        display: flex;
        flex-direction: row-reverse;

    }

    .Voltar:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

   .Faixa{
        display: flex;
        flex-direction: column;
        background-color: #D9D9D9;
        justify-content: center;
        height: 4em;
        width: 95%;
    }

    .Caixa-de-pesquisa{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 3em;
    }

    .Principal-Faixa{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        z-index: -1;
    }

    .Pesquisa{
        border-radius: 100px;
        background: transparent;
        border: 1px solid black;
        height: 25px;
        width: 210px;
        padding-left: 0.5em;
    }

    .Status{
        border-radius: 100px;
        background: transparent;
        border: 1px solid black; 
        height: 25px;
        padding-left: 0.5em;
        width: 180px;
    }

    .img-lupa{
        height: 20px;
        width: auto;
    }

    .busca-nome{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5em;
    }

    .cards-estoque{
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2em;
    }
}