

.Principal-Estoque{


    .Primeiro-Botao{
      display: flex;
      flex-direction: row-reverse;

    }

    .Voltar{
        border-radius: 20vh;
        background-color: #D8C8B9;
        margin: 0vh 5vh ;
        height: 7vh;
        width: 15vh;
    }

    .Voltar:hover{
        cursor: pointer;
        transform: scale(1.2);
   }



   
}
