.card-pagamento{


    .posicionamento-p{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px solid #000;
    }

    .posicionamento-p img{
        width: 60px;
    }
}